/* NavigationBar */
.body {
  background-color: black;
}
.soicalImg {
  width: 25px;
  margin-bottom: 3px;
  margin-right: 5px;
}
.navigationBar {
  background-color: #ff8400!important;
}
.navimg {
  position: relative; top: -20px;
  z-index: 1;
  width: 100%;
}
.headingImg {
  position: relative; top: -50px;
  width: 100%;
}
.brandHeading {
  font-size: 30px!important;
  color: white!important;
}

/* Homepage */
.headingText {
  font-size: 35px;
  text-align: center;
  position: relative; top: -200px;
  color: white;
}
.headingSubtext {
  font-size: 25px;
  position: relative; top: -20px;
}
.homepageRowTwo {
  position: relative; top: -130px!important;
}
.secondRowCard {
  margin: 0px 0px 25px 0px
}
.homepageRowThree {
  position: relative; top: -130px!important;
}

@media (min-width: 350px) {
  .headingText {
    font-size: 50px;
    position: relative; top: -250px;
  }
  .headingSubtext {
    font-size: 35px;
  }
}
@media (min-width: 475px) {
  .headingImg {
    position: relative; top: -75px;
  }
  .headingText {
    font-size: 70px;
    position: relative; top: -320px;
  }
  .homepageRowTwo {
    position: relative; top: -210px!important;
  }
}
@media (min-width: 768px) {
  .headingImg {
    position: relative; top: -118px;
  }
  .headingText {
    font-size: 100px;
    position: relative; top: -500px;
  }
  .headingSubtext {
    font-size: 45px;
    position: relative; top: -50px;
  }
  .homepageRowTwo {
    position: relative; top: -400px!important;
  }
}
@media (min-width: 992px) {
  .headingImg {
    position: relative; top: -120px;
  }
  .headingText {
    font-size: 130px;
    position: relative; top: -700px;
  }
  .headingSubtext {
    font-size: 55px;
  }
  .homepageRowTwo {
    position: relative; top: -500px!important;
  }
}
@media (min-width: 1200px) {
  .headingImg {
    position: relative; top: -150px;
  }
  .headingText {
    font-size: 150px;
    position: relative; top: -800px;
  }
  .homepageRowTwo {
    position: relative; top: -600px!important;
  }
}
@media (min-width: 1400px) {
  .headingText {
    position: relative; top: -1000px;
  }
  .headingSubtext {
    font-size: 65px;
  }
}
@media (min-width: 1600px) {
  .headingText {
    position: relative; top: -1100px;
  }
}
@media (min-width: 2000px) {
  .headingImg {
    position: relative; top: -270px;
  }
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}